.displayFlex{
    flex-direction: column;
    margin:0 20px;
    display: flex; 
}
.flex2{
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top:10px;
    margin-bottom: 10px;
}

@media all and (max-width: 800px) {
    .displayFlex{
        flex-direction: column;
    }
}